body {
  background-color: rgb(13, 71, 161);
  text-align: center;
  font-family: "Montserrat", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}

canvas {
  background-color: rgb(255, 255, 255);
}
